// 변수처리

//site width
$siteWidth: 1320px;

// textsize
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontsizeBig: 21px;


// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// 색상정의
// background color
$layoutBg: #f3f3f3;
$footerBg: #000;
$tableBg: #f2f2f2;
$tableBorder: #fff;


// font color
$fontColorBasic: #000;
$fontColorPrimary: #555;
$fontColorHover: #000;
$fontColorFooter: white;

// border color
$borderColorPrimary : #000;
$borderColor1: #000;
$borderColorFooter: #555;

//button color
$gbtnColor: #477f5a;
$btnColorHover: #000;
